{% extends "webapp/base.html" %}

{%block title%}
test
{%endblock title%}


{%block pagecontent%}
	<h5>{{title}}</h5>
	<a href="{% url 'events'%}"><button>Go To event</button></a>

	<div id="about-us">
		<h5>About Us!</h5>
	</div>
	<a href="{% url 'truckscheduler'%}"><button>Go To truck</button></a>
	<h3 class="block-title">Major Sponsors</h3>
	<div class="major-sponsors-grid">
		
		{%for m in majorsponsors%}
			<div class="major-sponsor">
				
					<a href="{{m.url}}" class="sponsor-a">
						{%if m.pic%}
						<img width=130em class="centerimage" src="{{m.pic.url}}" alt="{{m.sponsorname}}" >

						{%else%}
						<img class="centerimage" alt="{{m.sponsorname}}">
						{%endif%}
					</a>
				
				
			</div>
		{%endfor%}
	</div>
	<p>
		<h5 class="block-title"> Sponsored by </h5>
		<div class="sponsors-grid">
			{%for s in sponsors%}
				<div class="sponsor">
					<a href="{{s.url}}">

						{%if s.pic%}
								<img src="{{s.pic.url}}" alt="{{s.sponsorname}}" height=150px>
							{%else%}
								<img alt="{{s.sponsorname}}">
						{%endif%}
					</a>
				</div>
			{%endfor%}
		</div>
	<p>		
{%endblock pagecontent%}	