

{%load static%}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="{%static 'webapp/grid.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'webapp/main.css'%}">
	<link rel="icon" href="{% static 'imgs/opportunity-house-logo-square-icon.png'%}">
	<title>{{page.tabname}} Opportunity House | Vacaville's Homeless Shelter</title>
</head>
<body>

	<header>
		{%block header %}
		<div class="grid-container">

			<div class="grid-logo" id="logocontainer">
				<a href='{% url "homepage"%}'>
					<img src="{%static 'imgs/opportunity-house-logo.png'%}">
				</a>
			</div>
			<div class="grid-social" id="socialcontainer">
				<div class="soc-item">
					<a target="_blank" href="https://www.facebook.com/opportunityhousevv/"><object class="soc-img" data= "{%static 'imgs/soc/facebook2.svg'%}" width="20" height="20" fill="#000000"><div class='fallback'/></object></a></div>
				<div class="soc-item"><a href="https://www.facebook.com/opportunityhousevv/"><img class="soc-img" src = "{%static 'imgs/soc/fb.png'%}" width="20"></a>	</img></div>
				<div class="soc-item"><a href="https://twitter.com/VacavilleOHouse"><img class="soc-img" src = "{%static 'imgs/soc/twitter.png'%}" width="20"></img></a></div>
				<div class="soc-item"><a href="https://www.instagram.com/opportunitythrift/"><img class="soc-img" src = "{%static 'imgs/soc/insta.png'%}" width="20"></img></a></div>

			</div>	
			<input type="checkbox" class="nav-toggle" id="nav-toggle" checked>
			
			<div class="grid-menu" id="menucontainer">
			
				<div class="menu-item"><h5><a class="menu-a" href='{% url "homepage"%}#about-us'>About</a></h5></div>
				<div class="menu-item"><h5><a class="menu-a" href='{% url "events"%}'>Events</a></h5></div>
				<div class="menu-item"><h5><a class="menu-a" href='{% url "volunteer"%}'>Volunteer</a></h5></div>
				<div class="menu-item"><h5><a class="menu-a" href='{% url "donate"%}'>Donate</a></h5></div>
				<div class="menu-item"><h5><a class="menu-a" href='{% url "thrift-store"%}'>Thrift Store</a></h5></div>
				<div class="menu-item"><h5><a class="menu-a" href='{% url "wheels-for-hope"%}'>Wheels For Hope</a></h5></div>
				<div class="menu-item"><h5><a class="menu-a" href='{% url "contact"%}'>Contact</a></h5></div>
				
			</div>
			<label for="nav-toggle" class="nav-toggle-label">
				<div>MENU</div>
			</label>
		</div>
		{% endblock header %}
	</header>
	<p>
	<div class="mainimg">
		<div class="imgimg">
		{%image page.headerimg max-1000x500%}
		</div>
		<div class="headertitle">
			<h2>{{page.headertitle}}</h2>
		</div>
		<div class="headersubtitle">
			<p>{{page.headersubtitle}}</p>
	
		</div>
	</div>
	<p>
	<!--<div class="paperheader"><img src="{%static 'imgs/torn-paper.png'%}"></img></div>
-->	
	<div class='contentblock'>
	{%block pagecontent%}
	{%endblock pagecontent%}
	</div>


	{%if page.calltoaction%}
	<div class="calltoaction">
			<div class="involve-head">
				<h5>{{page.calltoaction.callstr}}</h5>
			</div>
			<div class="involve-butt">

				<button class="on_orange">{{page.calltoaction.callbtn}}</button>
			</div>
			{%block footinvolve%}

			{%endblock footinvolve%}

		</div>
		{%endif%}
	
		
		<div class="foot-contact">
			<div class="footcontact-item">Location
			</div>
			<div class="footcontact-item">Shelter
			</div>
			<div class="footcontact-item">Store
			</div>
		</div>
		<footer>
		<div class="foot-signature">
		<p style="font-size:xx-small;">
			Web Design By V :)</p>
		</div>
	</footer>
</body>
</html>

