{% extends "webapp/base.html" %}

{%block title%}
{{page.tabname}}
{%endblock title%}

{%block mainimg%}{{page.headerimg.url}}{%endblock mainimg%}


{%block headertitle%}
{{page.headertitle}}
{%endblock headertitle%}
{%block headersubtitle%}
{{page.headersubtitle}}
{%endblock headersubtitle%}


{% block callstr %}
{{page.callstr}}
{% endblock callstr %}

{% block callbtn %}
{{page.callbtn}}
{% endblock callbtn %}






{%block pagecontent%}
<form>

{%csrf_token%}
{{form.as_p}}
<input type="submit" value="Submit"/>
</form>



<script type="text/javascript">
	
</script>
{%endblock pagecontent%}