{% extends "webapp/base.html" %}





{%block pagecontent%}
{{page}}
<div class="thrift-content">
<div class="thrift-vid"><h5>video</h5></div>
<div class="exclusion">
	<h5>Donation Exclusion List</h5>
	Used Mattresses—due to bio hazard / bed bug concerns.
Chemicals—specialized disposal process (unless it is something we KNOW for SURE that we can use—i.e. select cleaning supplies)
Used Tires—also a specialized disposal process - very expensive to dispose of.
E-Waste Items (non-working electronics/appliances) - we currently DO NOT have the system, manpower, or budget in place to constantly recycle these.
Structurally-Compromised Furniture—we don't want any one getting hurt (personnel/customer) nor expose ourselves to potential lawsuits. However, there are VERY RARE EXCEPTIONS when the item is a repairable antique item (subject to management's approval).
Inflated Items (inflatable beds/pools/etc.)—unless it's one of those inflatable blow-up characters, we do not take these as well since they are USELESS punctured.
Car / Booster Seats—Due to recall issues we can only accept NEW.
Linens / Blankets / Soiled Sleeping Pillows -due to bio hazard / bed bug concerns. We will accept NEW.
Tube TVs—buying market is virtually gone; an expense to recycle.
Wet/Smelly/Damaged/Heavily-Soiled Articles (includes clothes, couches, toys, etc)—should be self-explanatory, but as always, we try to be courteous in explaining to customers WHY turning down their less-than-desirable conditioned items help curb our operating costs (which obviously, in-turn, keeps the shelter doors open).

	<h5>We also highly recommend donors to place items in clear plastic bags.<p>
It is not a guarantee that your items will be taken at the time it is dropped off. Donations will be at the discretion of the Dock Lead/Associates. Thank you!</h5>

 
</div>
<div class="store-hours">
	<h5>Thrift Store Hours</h5>
	<li>Monday-Saturday: 9:00am-7:00pm</li>
	<li>Sunday: 11:00am-5:00pm</li>
</div>
<div class="donate-hours">
	<h5>Thrift Store Donation Hours<a href="#asterisk">*</a></h5>
	<li>Monday-Saturday: 9:00am-4:00pm</li>
	<li>Sunday: 11:00am-2:00pm</li>
	<div id="asterisk">*In some cases the dock can and will close due to weather change and/or an over-abundance of donations; as a reminder storage is limited.</div>

{%include "webapp/blocks/dock_block.html" with status=dock.status reasontext=dock.reason%}
</div>
<div class="pickup"><h5>Donation Pickups</h5></div>
Monday 11am-4pm ( Fairfield/Suisun OR Dixon/Winters.)
Wednesday and Friday 11am-4pm Vacaville only
Thursday 11am-4pm estates/house clean outs.
Due to extreme volume in daily pickups, our schedule is at a minimum of 2 weeks in advance. Pickup hours do not guarantee a specific time at any destination. Due to traffic and drive time, pickups are based on the time window given above.

For more information on donation delivery or pickups please contact:
James Ward, jamesw@opportunityhouse.us , (707) 446-6246
</div>

<div class="articles-container">
	{%for a in articles%}
	<div class="article-info">
		<div class="article-title">
			<h1>{{a.title}}</h1>
		</div>
		<div class="article-subtitle">
			<h2>By {{a.author}}, {{a.paper}} | {{a.date}}</h2>
		</div>
		<div class="article-blurb">
			<h5>{{a.blurb}}</h5>
		</div>
		<div class="article-link">
			<a href="{{a.url}}">Read the full article</a>
		</div>
	</div>
		{%if a.img%}

			<div class="article-img">
				<img src="{{a.img.url}}"/>
			</div>
		{%endif%}
	{%endfor%}
</div>
{%endblock pagecontent%}