
body{
	background:#ffffff;
}

.paperheader{
	z-index: 2;
	display: block;
	height:100px;
}
.major-sponsor{
	height:200px;
	width: 300px;
	outline: 1px solid darkgray;
	box-shadow: 10px 5px 20px lightgrey; 

}
.sponsor-image{
	height:10px;
	display:inline-block;
	vertical-align: middle;
}
.menu-item{
	outline:fill;
	padding:15px;
	outline-color: #000000;
	outline-width: 2px;
}