/*VARIABLE DECLARATIONS*/
:root{
	--main-menu-color:#509241;
	--main-menu-hover:#777777;
	--accent-orange:#dd861c;
	--title-green:#4dae43;

	--footer-color:#000000;
	--footer-text:#ffffff;

	--bg-color:#ffffff;
	--alt-bg-color:#f6f6f6;

	--ribbon-open-fg:#76c65a;
	--ribbon-open-mg:#2b4a23;
	--ribbon-open-bg:#5d9a48;
	
	--ribbon-closed-fg:#ff3300;
	--ribbon-closed-mg:#800000;
	--ribbon-closed-bg:#cc3300;
	
	}

/*General Styling*/
header{
	box-shadow: 0px 10px 10px #aaaaaaff;
	z-index: 999;
}
.headertitle{
	position:relative;
	word-wrap: break-word;
	font-size: 5em;
	color:#ffffff;
	display:overlay;
	text-shadow: 3px 3px 5px #000000ff;
}
.headersubtitle{
	position:relative;
	word-wrap: break-word;
	font-size: 2em;
	color:#ffffff;
	display:overlay;
	text-shadow: 3px 3px 5px #000000ff;
}
}
body{
	background:var(--bg-color);
}
.block-title{
	font-size:20px;
	text-align: center;
	color:var(--title-green);
}

.soc-item{
	padding:5px;
	
}

.soc-img{
	background:var(--main-menu-color);
}
.soc-img:hover{
	background:var(--accent-orange);
}
footer{
	background:var(--footer-color);
}
.foot-signature{
	color:var(--footer-text);
}

.calltoaction{
	display: stretch;
	padding-top: 20px;
	padding-bottom:20px;
	background-color:var(--accent-orange);
	box-shadow: 10px 0px 10px #000000ff;
}
.involve-head{
	color:#ffffff;
}
/*Buttons*/
button.on_white{
	padding:10px;
	text-align: center;
	color:#ffffff;
	background-color:var(--accent-orange);
	box-shadow: 5px 5px 10px #000000ff;
	transition: background-color 250ms,box-shadow 250ms;
}
button.on_white:hover{
	box-shadow: none;
	transition: background-color 250ms,box-shadow 250ms;
	background-color:#000000;
}

button.on_orange{
	transition:color 250ms, background-color 250ms;
	color:#ffffff;
	border:2px solid white;
	padding:10px;
	background-color:var(--accent-orange);
}
button.on_orange:hover{
background-color:#ffffff;
color:#000000;
transition:color 250ms, background-color 250ms
}

/*Torn Paper*/
.paperheader{
	z-index: 2;
	display: block;
	height:100px;
}

/*Sponsor Grid Styling*/
.major-sponsor{
	height:200px;
	width: 300px;
	outline: 1px solid darkgray;
	box-shadow: 10px 5px 20px lightgrey; 

}
.menu-item{
	outline:fill;
	padding:15px;
	outline-color: #000000;
	outline-width: 2px;

	text-decoration: none;
}
.centerimage{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right:auto;
	vertical-align: middle;
}
.sponsor-a{
	display: block;
	height:100%;
	width:100%;
	background-color: #ff0000;		
}
.menu-a{
	text-decoration: none;
	font-size: 15px;
	color: var(--main-menu-color);
}
.menu-a:hover{
	color:var(--main-menu-hover);
}

/*CSS trickery to make menu slide button here*/
.grid-menu{
	transform: scale(1,0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}
.menu-item{
	text-decoration: none;
}

.nav-toggle{
	display:none;
}

.nav-toggle-label{
	width:180px;
	height:0px;
	padding-top:20px;
	padding-bottom:40px;

	text-align: center;

	color:#ffffff;
	background-color: var(--accent-orange);
}
.nav-toggle:checked~ .grid-menu{
	transform:scale(1,1);
}

/*Dock Ribbon*/
.ribbon{
	width:300px;
	margin:50px auto;
	padding:7px 0;
	position:relative;
}
.ribbon>*{
	display:inline-block;
	width:100%;
	position: relative;	
	text-align:center;
	font-size: 20px;
	color:#ffffff;
	text-shadow: 2px 2px 10px #000000cc;
}
		/*FOLDS*/
		.ribbon>*::before,.ribbon>*::after,.ribbon::before,.ribbon::after{
			content:'';
			width:0;
			height:0;
			border-style:solid;
			position:absolute;
		}	
		.ribbon>*::before,.ribbon>*::after{
			border-width:8px;
			bottom:-23px;
		}
		.ribbon>*::before{
			left:0;
		}
		.ribbon>*::after{
			right:0;
		}

		.ribbon::before,.ribbon::after{
			z-index: -1;
			border-width: 18px;
			bottom:-16px;
		}
		.ribbon::before{
			left:-20px;
		}
		.ribbon::after{
			right:-20px;
		}

.open{
	background-color: var(--ribbon-open-fg);
}
.open::before{
	border-color:var(--ribbon-open-bg) var(--ribbon-open-bg) var(--ribbon-open-bg) transparent;
}
.open::after{
	border-color:var(--ribbon-open-bg) transparent var(--ribbon-open-bg) var(--ribbon-open-bg);
}
.open>*::before{
    border-color:var(--ribbon-open-mg) var(--ribbon-open-mg) transparent transparent;
}
.open>*::after{
	border-color:var(--ribbon-open-mg) transparent transparent var(--ribbon-open-mg);
}

.closed{
	background-color: var(--ribbon-closed-fg);
}
.closed::before{
	border-color:var(--ribbon-closed-bg) var(--ribbon-closed-bg) var(--ribbon-closed-bg) transparent;
}
.closed::after{
	border-color:var(--ribbon-closed-bg) transparent var(--ribbon-closed-bg) var(--ribbon-closed-bg);
}

.closed>*::before{
    border-color:var(--ribbon-closed-mg) var(--ribbon-closed-mg) transparent transparent ;
}
.closed>*::after{
	border-color:var(--ribbon-closed-mg) transparent transparent var(--ribbon-closed-mg);
}